
 
mixin navbar

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#') Link
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Dropdown
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
      li.nav-item
        a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

mixin jumbotron(title, paragraph , textButton)
  .jumbotron
  h1.display-4 #{title}
  p.lead
    | #{paragraph}
  hr.my-4

  a.btn.btn-primary.btn-lg(href='#' role='button') #{textButton}


- images =[{route : 'assets/img/uno.jpg?auto=yes&bg=555&fg=333&text=First slide', active:true},
{route:'assets/img/dos.jpg?auto=yes&bg=555&fg=333&text=Second slide' , active:false},
{route:'assets/img/tres.jpg?auto=yes&bg=555&fg=333&text=Third slide' , active:false}]


