<!-- Area de  Agregar  Boletos-->
<%- layout('layouts/main') %>

<br>
<br>
  <div class="container">

    <div class="row">
      <!--FORM-->
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body">
            <form action="/add" method="post">

              <div class="form-group">
                <input class="form-control" type="text" name="nombre" placeholder="Nombre de la Pelicula">
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="ver" placeholder="Imagen de la Pelicula">
              </div>


              <div class="form-group">
                <input class="form-control" type="text" name="genero" placeholder="Genero de la Pelicula">
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="precio" placeholder="Precio de la entrada">
              </div>

              <div class="form-group">
                <input class="form-control" type="date" name="estreno" placeholder="Estreno de la pelicula">
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="entrada" placeholder="Numeor de la Entrada">
              </div>


              <button class="btn btn-primary" type="submit">
                Agregar
              </button>

            </form>
          </div>
        </div>
      </div>
  

    </div>
  
  </div>
  


