<!-- Area de  editar Boletos-->
<%- layout('layouts/main') %>

<br>
<br>
  <div class="container">
    <div class="row">
      <!--FORM-->
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body">
            <form action="/edit/<%= task._id %>" method="post">

              <div class="form-group">
                <input class="form-control" type="text" name="nombre" placeholder="Ingresar nombre" 
                value="<%= task.nombre %>">
              </div>


              <div class="form-group">
                <input class="form-control" type="text" name="ver" placeholder="Ingresar imagen" 
                value="<%= task.ver %>">
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="genero" placeholder="Ingresar Genero" 
                value="<%= task.genero %>">
              </div>

              <div class="form-group">
                <input class="form-control" type="text" name="precio" placeholder="Ingresar precio de la pelicula" 
                value="<%= task.precio %>">
              </div>

              <div class="form-group">
                <input class="form-control" type="date" name="estreno" placeholder="Fecha de estreno" 
                value="<%= task.estreno %>">
              </div>

              <div class="form-group">
                <textarea class="form-control" name="entrada" cols="80"
                  placeholder="Numero de entrada"
                  ><%= task.entrada %></textarea>
              </div>


              <button class="btn btn-primary" type="submit">
                Actualizar 
              </button>



            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  
