<!-- Area  de Administracion de Boletos-->
<%- layout('layouts/main') %>


<br>
<br>

<div class="container" style="text-align:center">

   
  
    <!-- LIST -->
    <div class="">
      <table class="table table-bordered table-hover"   >
        <thead>
          <tr class="bg-success text-white">
            <th>N°</th>
            <th>Nobre de la pelicula</th>
            <th>Imagen </th>
            <th>Genero</th>
            <th>Precio de la Entrada</th>
            <th>Estreno</th>
            <th>Entradas</th>
            <th>Descripcion</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < tasks.length; i++) { %>
            <tr>
              <td class="p-3 mb-2 bg-info text-white"><%= i + 1%></td>
              <td ><strong><%= tasks[i].nombre %></strong></td>
              <td><strong><img src=" <%= tasks[i].ver %>" width="80"  height="80"> </strong></td>

              <td><strong><%= tasks[i].genero %></strong></td>

              <td><strong> $/ <%= tasks[i].precio %></strong></td>

              <td><strong><%= tasks[i].estreno %></strong></td>
   

              <td><%= tasks[i].entrada %></td>
              <td>
                <a
                href="/turn/<%= tasks[i]._id %>"
                class="<%= tasks[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
                >
                Disponible
                </a>
                <br>

                <a href="/delete/<%= tasks[i]._id %>"
                  class="btn btn-danger">
                  Eliminar
                </a>
                <br>
                <a 
                href="/edit/<%= tasks[i]._id %>"
                class="btn btn-info">
                  Editar
                </a>
                
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
 

</div>