<%- layout('layouts/main') %>

<!-- Zona de Perfil Vista -->

<br>
<br>


<div class="container" style="text-align:center;">

   
  
    <!-- Lista de perfil -->
    <div class="">
      <table class="table table-bordered table-hover"   >
        <thead>
          <tr class="bg-success text-white">
            <th>ID</th>
            <th>Correo Electronico</th>
            <th>Contraseña Encriptada </th>
      

          </tr>
        </thead>
        <tbody>

            <tr>

              <td ><strong><%= user._id%></strong></td>
              

              <td><strong><%= user.email %></strong></td>

              <td><strong><%= user.password %></strong></td>



            </tr>
       
        </tbody>
      </table>

    </div>

</div>

