<!--  Ingreso de Iniciar Sesion-->
<%- layout('layouts/main') %>



  <div class="container">
    <div class="card card-login mx-auto text-center bg-dark">
        <div class="card-header mx-auto bg-dark">
            <span> <img src="https://i.vimeocdn.com/portrait/23695227_300x300.webp" class="w-75" alt="Logo"> </span><br/>
                        <span class="logo_title mt-5"> Tecsup Virtual </span>


        </div>
        <div class="card-body">
          <form action="/signin" method="POST">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="email" name="email" class="form-control" placeholder="Ingresar Correo">
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" name="password" class="form-control" placeholder="Ingresar Contraseña">
                </div>

                <div class="form-group">
                    <input type="submit" name="btn" value="Iniciar Sesion" class="btn btn-outline-danger float-right login_btn">
                </div>

            </form>
        </div>
    </div>
</div>




