<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Adipisicing lorem laudantium fuga excepturi iste earum? Architecto et sint exercita
      tionem nihil voluptatum? Quae dolores sint fugiat inventore soluta ad Tenetur minima odit qui fugit ev
      eniet minima? Repellat nobis harum quia placeat eveniet fugit voluptatem Pariatur maiores molestiae est quas.
    </p>
  </div>
</section>
