<h3>Añadir Pelicula</h3>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Titulo</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Estreno Publico</option>
                    <option value="private">Estreno Privado</option>
                </select>
                <label for="status">Estado</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Descripcion de la Pelicula</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancelar</a>
        </div>
    </form>
</div>