<!-- Elementos de Validacion-->
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{{/each}}


<!-- Elementos de AGREGAR-->
<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Nueva Nota</h3>
    </div>
    <div class="card-body">

      <form action="/notes/new-note" method="POST">
      
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Title" autofocus/>
        </div>

        <div class="form-group">
          <textarea name="description" class="form-control" placeholder="Description"></textarea>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Guardar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

