<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tecsup Peliculas</title>
  <!-- LLamdo de Bostrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  
 <!-- FONT AWESOME -->
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


  <link rel="icon"  href="https://i.vimeocdn.com/portrait/23695227_300x300.webp">


  <link rel="stylesheet" href="public/css/main.css">


<style>
  table {
	width: 90%;
	height: 500px;
}
body {
  background: #2bb27e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
            border: 1px solid #28a745;
        }
        .card-login {
            margin-top: 50px;
            padding: 18px;
            max-width: 30rem;
        }

        .card-header {
            color: #fff;
            /*background: #ff0000;*/
            font-family: sans-serif;
            font-size: 20px;
            font-weight: 600 !important;
            margin-top: 10px;
            border-bottom: 0;
        }

        .input-group-prepend span{
            width: 50px;
            background-color: #ff0000;
            color: #fff;
            border:0 !important;
        }

        input:focus{
            outline: 0 0 0 0  !important;
            box-shadow: 0 0 0 0 !important;
        }

        .login_btn{
            width: 130px;
        }

        .login_btn:hover{
            color: #fff;
            background-color: #ff0000;
        }

        .btn-outline-danger {
            color: #fff;
            font-size: 18px;
            background-color: #28a745;
            background-image: none;
            border-color: #28a745;
        }

        .form-control {
            display: block;
            width: 80%;
            height: calc(2.25rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1.2rem;
            line-height: 1.6;
            color: #28a745;
            background-color: transparent;
            background-clip: padding-box;
            border: 1px solid #28a745;
            border-radius: 0;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .input-group-text {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 0.375rem 0.75rem;
            margin-bottom: 0;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.6;
            color: #495057;
            text-align: center;
            white-space: nowrap;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            border-radius: 0;
        }

</style>


</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--  Logo de tecsup -->
    <a class="navbar-brand" href="/">
      <img src="/img/logo.jpg" style="height: 30px" class="d-inline-block align-top"> Tecsup Cinemark
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  


    <div class="collapse navbar-collapse" id="">
      <!-- Espacion  Faik  -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
          
            </li>
        </ul>
    </div>
     
        <ul class="form-inline my-2 my-lg-0">

            <!-- Session de  Inicio -->
          <% if (!user) { %>

            <div class="collapse navbar-collapse" id="">
              <ul class="navbar-nav ">
                  <li class="nav-item">
                
                  </li>
              </ul>
          </div>

          <li class="form-inline my-2 my-lg-0">
            
            <a class="btn btn-outline-success my-2 my-sm-0"   onclick="location.href='/signup' "> Registrar</a>
   
          </li>

          <li class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 my-sm-0"   onclick="location.href='/signin' ">Iniciar Sesion</a>
          </li>

          
          <!-- Zona de Usuario -->
          <% } else { %>

            

            <!-- Session de Boletos -->
          <li class="nav dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Boletos
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" onclick="location.href='peliculas'">Listado de Boletos</a>
    
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="location.href='agregar' ">Agregar Nuevo Boleto</a>
            </div>
          </li>

            <!-- Session de Peliculas -->
          <li class="nav dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Peliculas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" onclick="location.href='/estreno'">Listado de Peliculas</a>
    
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="location.href='upload' ">Agregar Nueva Pelicula</a>
            </div>
          </li>

            <!-- Session de Configuracion -->
          <li class="nav dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Configuracion
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" onclick="location.href='/profile'">Perfil</a>
    
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" onclick="location.href='' ">Editar Perfil</a>
            </div>
          </li>




  
          <li class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-success my-2 my-sm-0"  onclick="location.href='/logout' ">Cerrar Sesion</a>
          </li>
  
          <% } %>
        </ul>
        

    </div>
  </nav>




  <!-- Alertes -->

  <div class="container">
    <%if (signinMessage.length > 0) {%>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= signinMessage %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
    <%if (signupMessage.length > 0) {%>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= signupMessage %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% } %>
  


    <%- body %>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   

</body>
</html>




