
<h3>Bienvenido {{name}}</h3>
<p>Aqui estan tus Peliculas</p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><span href="/stories/{{_id}}">{{title}}</span></td>
            <td>{{formatDate createdAt 'MMMM DD YYYY'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No hay peliculas publicas..</p>
{{/if}}