<h3><img src="https://i.vimeocdn.com/portrait/23695227_240x240.webp" class="w-75" alt="Logo">Peliculas Tecsup</h3>
<div class="section">
    <p class="lead">Cree una pelicula publica o privado de tecsup</p>
</div>
<div class="divider"></div>


<div class="section">
    <a onclick="location.href='/signin' " class="btn blue darken-1">
        <i class="fa fa-rocket left"></i> Iniciar sesion Tecsup
    </a>
</div>

<div class="section">
    <a onclick="location.href='/signup' " class="btn green darken-1">
        <i class="fa fa-plus-square left"></i>  Registrar sesion Tecsup
    </a>
</div>


<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Iniciar sesion con Google
    </a>
</div>

